.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252424;
    height: 5rem;
    padding: 0rem 10%;

    h1{
      
        a{
            text-decoration: none;
              color: white;
        }
    }

    nav ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        a{
            text-decoration: none;
            color: white;
        }
        li{
            color: white;
        }
        li:hover{
            cursor: pointer;
        }
    }
}