.container{
     background-color: "white";
        border: "1px solid grey";
        margin-bottom: "1rem";
        border-radius: "4px";
        width:"100%";
        max-width:"35rem";
        margin:"0.25rem auto"
}